body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
    background-color: #333333;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    width: 200px;
}

li:hover {
    background-color: #555555;
}

li img {
    max-width: 200px;
    height: auto;
    border-radius: 3px;
}

a {
    color: #64B5F6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #42A5F5;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    padding: 50px;
}

.heIsComing{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.heIsComing img {
    width: 50vw;
    height: 100vh;
}